<% if current_user %>
  <div class="row justify-content-end">
    <div>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <%= link_to edit_home_path(@user),method: :get do %>
        <i class="fa-solid fa-gear"></i>
      <% end %><br>
      <%= @user.name %><br>
      <%= @user.comment %>
    </div>
  </div>
  <%= link_to "new_project", new_project_path %>
  <% @projects.each do |project| %>
    <div class="row">
      <% if project.project_image.attached? %>
        <%= image_tag project.project_image, size: "100x100" %>
      <% else %>

      <% end %>
    </div>
  <%= link_to project.title, project_path(project) %>
<% end %>

<% else %>
  <h1>Public::Homes#top</h1>
  <p>Find me in app/views/public/homes/top.html.erb</p>
<% end %>
