<!DOCTYPE html>
<html>
  <head>
    <title>Passion Shedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/223bfd9c1c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/global_navigation" %>
    </header>
    <div class="container">
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </div>
    <%= debug params if Rails.env.development? %>
  </body>
</html>
